.nav_header {
  background-color: red;
  display: flex;
  justify-content: space-between;
}

.nav_header__user {
  background-color: pink;
  position: relative;
}

.nav_header__user--name {
  background-color: green;
}

.nav_header__user--dropdown {
  background-color: blue;
}

.nav_header__user--menu {
  margin: 0;
  padding: 1em;
  position: absolute;
  left: 0;
  top: 0;
  background-color: orange;
  display: none;
}

.nav_header__user--menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}